body {
  font-family: 'DM Sans', sans-serif !important;
}

.bg-custom-blue {
  background-color: #162E83;
}

.Title-Header {
  font-size: 4.67rem;
}

.Title-Header-smaller {
  font-size: 3, 33rem !important;
}

.experience .DevTextHeader::after {
  content: "Month";
  font-size: 20px;
  margin-left: 10px;
}

.DevTextHeader {
  font-size: 8.5rem;
  content: attr(data-text);
  -webkit-text-stroke: 2px #0067FE;
  -webkit-text-fill-color: transparent;
  line-height: 132px;
  font-weight: bold;
}

.ImgAboutMe {
  height: 100vh;
}

.colorLightBlue {
  color: #0067FE;
}

.colorLightGrey {
  color: #9CB8DF;
}

.experience {
  border-bottom: 5px solid #0067FE;
}

/* Mobile devices (max-width: 767px) */
@media only screen and (max-width: 767px) {


  #Title-Header {
    width: 100% !important;
  }


  .Title-Header {
    font-size: 2rem;
  }

  .DevTextHeader {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  #devTextDiv {
    width: 70% !important;
  }

  .FontAwesomeIcon {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .headerLink {
    display: none;
  }

  .PersonalImage {
    display: none;
  }

  #AboutMeText {
    padding: 0px !important;
  }

  #AboutMeText p {
    font-size: 0.8rem !important;
  }

  .titleHeaderDiv,
  .headerFooterDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


  /* experience work */

  #sectSkillsWorkExperience div {
    padding: 0px;
    margin: 0rem !important;
    margin-top: 0.5rem !important;
    width: 100% !important;
  }

  #sectSkillsWorkExperience h1,h2 {
    font-size: 1.5rem;
  }


  #Boolean>div.ms-5>h1 {
    padding: 0px !important;
    margin: 0rem !important;
    font-size: 1.4rem;
  }

  #Systrategy>div.ms-5>h1 {
    font-size: 1.4rem !important;
    padding: 0px !important;
    margin: 0rem !important;
  }

  #EV>div.ms-5>h1 {
    font-size: 1.4rem !important;
    padding: 0px !important;
    margin: 0rem !important;
  }

  #Boolean>div.container>div {
    font-size: 0.7rem;
  }

  #Systrategy>div.container>div {
    font-size: 0.7rem;
  }

  #EV>div.container>div {
    font-size: 0.7rem;
  }


  #Boolean>div.container>div>div>div>h1,
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem !important;
  }

  #Systrategy>div.container>div>div>div>h1,
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem !important;
  }

  #EV>div.container>div>div>div>h1,
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem !important;
  }


  .experience .DevTextHeader::after {
    margin-left: 2px;
  }

  #Systrategy .DevTextHeader::after {
    margin-left: 5px;
  }

  #EV .DevTextHeader::after {
    margin-left: 5px;
  }

  .experience .DevTextHeader {
    -webkit-text-stroke: 1px #0067FE;
    -webkit-text-fill-color: #162E83;
  }

  #Systrategy .DevTextHeader {
    -webkit-text-stroke: 1px #0067FE;
    -webkit-text-fill-color: #162E83;
  }

  #EV .DevTextHeader {
    -webkit-text-stroke: 1px #0067FE;
    -webkit-text-fill-color: #162E83;
  }


  .experience .colorLightBlue {
    font-size: 0.9rem;
  }

  #Boolean,
  #Systrategy,
  #EV {
    margin: 0px 1rem;
    line-height: 0.9rem;
  }


  #Boolean .experienceTitle {
    margin: 1rem 0.5rem !important;
  }

  #Systrategy .experienceTitle {
    margin: 1rem 0.5rem !important;
  }

  #EV .experienceTitle {
    margin: 1rem 0.5rem !important;
  }

  .headerLink {
    display: none;
  }

  #sectionFooter .DevTextHeader,
  .colorLightBlue {
    font-size: 2rem;
  }

  .footerFooterDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #contactContainer {
    width: 35% !important;
  }

  #contactContainerHeader {
    width: 35% !important;
  }

  #root>div>header>div {
    margin: 1rem 0.8rem;
  }



}

@media only screen and (min-width: 768px) and (max-width: 850px) {


  #Title-Header {
    width: 100% !important;
  }


  .Title-Header {
    font-size: 2rem;
  }

  .DevTextHeader {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  #devTextDiv {
    width: 70% !important;
  }

  .FontAwesomeIcon {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .headerLink {
    display: none;
  }

  .ImgAboutMe {
    display: none;
  }

  #AboutMeText {
    padding: 0px !important;
  }

  #AboutMeText p {
    font-size: 1.3rem !important;
  }

  .titleHeaderDiv,
  .headerFooterDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


  /* experience work */

  #sectSkillsWorkExperience div {
    padding: 0px;
    margin: 1rem 0rem !important;
    width: 100% !important;
  }
  
  #sectSkillsWorkExperience .DevTextHeader {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sectSkillsWorkExperience h1,
  h2 {
    font-size: 3rem;
  }

  #Boolean>div.ms-5>h1 {
    padding: 0px !important;
    margin: 0rem !important;
    font-size: 2.5rem;
  }

  #Systrategy>div.ms-5>h1 {
    font-size: 2.5rem !important;
    padding: 0px !important;
    margin: 0rem !important;
  }

  #EV>div.ms-5>h1 {
    font-size: 2.5rem !important;
    padding: 0px !important;
    margin: 0rem !important;
  }

  #Boolean>div.container>div {
    font-size: 1.1rem;
  }

  #Systrategy>div.container>div {
    font-size: 1.1rem;
  }

  #EV>div.container>div {
    font-size: 1.1rem;
  }


  #Boolean>div.container>div>div>div>h1,
  h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem !important;
  }

  #Systrategy>div.container>div>div>div>h1,
  h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem !important;
  }

  #EV>div.container>div>div>div>h1,
  h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem !important;
  }


  .experience .DevTextHeader::after {
    margin-left: 5px;
  }

  #Systrategy .DevTextHeader::after {
    margin-left: 7px;
  }

  #EV .DevTextHeader::after {
    margin-left: 7px;
  }

  .experience .DevTextHeader {
    -webkit-text-stroke: 1px #0067FE;
    -webkit-text-fill-color: #162E83;
  }

  #Systrategy .DevTextHeader {
    -webkit-text-stroke: 1px #0067FE;
    -webkit-text-fill-color: #162E83;
  }

  #EV .DevTextHeader {
    -webkit-text-stroke: 1px #0067FE;
    -webkit-text-fill-color: #162E83;
  }


  .experience .colorLightBlue {
    font-size: 1.5rem;
  }

  #Boolean,
  #Systrategy,
  #EV {
    margin: 0px 2rem;
    line-height: 1.3rem;
  }


  #Boolean .experienceTitle {
    margin: 0rem 0.5rem !important;
  }

  #Systrategy .experienceTitle {
    margin: 0rem 0.5rem !important;
  }

  #EV .experienceTitle {
    margin: 0rem 0.5rem !important;
  }

  .headerLink {
    display: none;
  }

  #sectionFooter .DevTextHeader,
  .colorLightBlue {
    font-size: 3rem;
  }

  .footerFooterDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #contactContainer {
    width: 20% !important;
  }

  #contactContainerHeader {
    width: 20% !important;
  }

  #root>div>header>div {
    margin: 2rem 1.5rem;
  }



}