body {
  font-family: 'DM Sans', sans-serif!important;
}

.bg-custom-blue {
  background-color: #162E83;
}
.Title-Header {
  font-size: 4.67rem;
}

.Title-Header-smaller {
  font-size: 3,33rem!important;
}

.DevTextHeader {
  font-size: 8.5rem;
  content: attr(data-text);
  -webkit-text-stroke: 2px #0067FE;
  -webkit-text-fill-color: transparent;
  line-height: 132px;
  font-weight: bold;
}
