body {
  font-family: 'DM Sans', sans-serif!important;
}

.bg-custom-blue {
  background-color: #162E83;
}
.Title-Header {
  font-size: 6.67rem;
}

header h1 span {
  color: #00bfff;
}

.skills .col-md-4 div {
  margin: 10px 0;
}

.experience h4 {
  color: #00bfff;
}

footer {
  background-color: #162E83 ;
  color: #fff;
}
